.sidebar {
  width: 200px;
  background-color: whitesmoke;
  color: rgb(43, 43, 43);
  height: 100vh;
  padding-inline-start: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.nav-item svg {
  margin-right: 10px;
}

/* Hover effect */
.nav-item:hover {
  background-color: #e0e0e0;
}

/* Active (selected) sidebar item */
.nav-item.active {
  background-color: #cacaca; /* Change this color for selection */
  color: rgb(44, 44, 44);
  font-weight: bold;
}
